body {
    text-align: center;
    background-color: #52525c;
  }
  
  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgba(136, 125, 125, 0.116);
  }